[Unit]
Description=bunq integrations
Wants=network-online.target

[Service]
WorkingDirectory=/usr/local/lib/cyburgers
ExecStart=pipenv run python3 cyburgers.py

[Install]
WantedBy=multi-user.target
