{% extends "_base.html" %}

{% block title %}{{ super() }} - balance{% endblock title %}

{% block content %}
  <h1>cyburgers</h1>

  <h2>balance</h2>
  <ul>
    <li>current: {{ balance }}</li>
    <li>received: {{ received }}</li>
    <li>spent: {{ spent }}</li>
  </ul>

  {% if transactions %}
    <h2>transactions</h2>
    <ul>
      {% for transaction in transactions | reverse %}
        <li>{{ transaction }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>goals</h2>
  <ul>
    <li>€100: admission{% if received >= 10000 %} ✨funded!!{% endif %}</li>
    <li>~€200: + round-trip train ticket{% if received >= 20000 %} ✨funded!!{% endif %}</li>
    <li>~€350: + lodging{% if received >= 35000 %} ✨funded!!{% endif %}</li>
    <li>&gt;€350: + spending money</li>
  </ul>

  <footer>
    <a href="https://github.com/qguv/cyburgers">source on Github</a>
    <br />
    <span>rendered {{ render_time }}</span>
  </footer>
{% endblock %}
