{% extends "_base.html" %}

{% block title %}{{ super() }} - balance{% endblock title %}

{% block content %}
  <h1>cyburgers</h1>

  <h2>balance</h2>
  <ul>
    <li>current: {{ balance }}</li>
    <li>received: {{ received }}</li>
    <li>spent: {{ spent }}</li>
  </ul>

  {% if transactions %}
    <h2>transactions</h2>
    <ul>
      {% for transaction in transactions | reverse %}
        <li>{{ transaction }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <footer>
    <a href="https://github.com/qguv/cyburgers">source on Github</a>
  </footer>
{% endblock %}
